# === Core ML Libraries ===
torch==2.1.0
numpy==1.25.2
matplotlib==3.7.1
scikit-learn==1.2.2

# === Experiment Tracking ===
mlflow==2.5.0
dagshub==0.2.21

# === Utilities ===
click==8.1.3
protobuf==4.25.3
pytest==8.3.5

